In [1]:
#loading the libraries

import pandas as pd
import numpy as np

In [2]:
data_path = '/Users/mscorzoni/Downloads/Data Collection/quant_alunos_2023_2.csv'

data =  pd.read_csv(data_path)
data.head()

,CDREDE,DE,CODMUN,MUN,CATEG,COD_ESC,TIPOESC,CODVINC,NOMESC,ENDESC,...,ED_INFANTIL,CLASSES ESPECIAIS,SALA DE RECURSO,ANOS INICIAIS,ANOS FINAIS,ENSINO MEDIO,EJA FUNDAMENTAL_AI,EJA ENSINO MÉDIO,EJA FUNDAMENTAL_AF,EJA FUNDAMENTAL_MULTI
0,10101,NORTE 1,100,SAO PAULO,1,103,8,NaN,JOAO BOEMER JARDIM PROFESSOR,CRISTOVAO SANTIAGO,...,0,0,0,1028,0,0,0.0,0.0,0.0,0.0
1,10101,NORTE 1,100,SAO PAULO,1,139,8,NaN,MARIANO DE OLIVEIRA PROFESSOR,RUA ALMIRANTE ISAIAS DE NORONHA,...,0,0,0,0,269,1093,0.0,332.0,0.0,0.0
2,10101,NORTE 1,100,SAO PAULO,1,197,8,NaN,AGENOR COUTO DE MAGALHAES DOUTOR,GUILHERME MANKEL,...,0,0,0,0,212,469,0.0,174.0,0.0,0.0
3,10101,NORTE 1,100,SAO PAULO,1,206,8,NaN,ALIPIO DE BARROS PROFESSOR,AVENIDA COMENDADOR FEIZ ZARZUR,...,0,21,0,533,0,0,0.0,0.0,0.0,0.0
4,10101,NORTE 1,100,SAO PAULO,1,218,8,NaN,ANTONIO FRANCISCO REDONDO PROFESSOR,EVANDRO DANTON FERREIRA GANDRA,...,0,0,0,0,0,860,NaN,NaN,NaN,NaN

In [5]:
# calculate 'RAZAO_CLASSE_ESP_ENSINO'
data['RAZAO_CLASSE_ESP_ENSINO'] = data['CLASSES ESPECIAIS'] / (data['ANOS INICIAIS'] + data['ANOS FINAIS'])

In [6]:
# substitute nan 
data['RAZAO_CLASSE_ESP_ENSINO'] = data['RAZAO_CLASSE_ESP_ENSINO'].where((data['CLASSES ESPECIAIS'] != 0) & (data['ANOS INICIAIS'] + data['ANOS FINAIS'] != 0))

In [8]:
# discretization using qcut

data['RAZAO_CLASSE_ESP_ENSINO_Q'] = pd.qcut(data['RAZAO_CLASSE_ESP_ENSINO'], 5, duplicates='drop')

data.head()

,CDREDE,DE,CODMUN,MUN,CATEG,COD_ESC,TIPOESC,CODVINC,NOMESC,ENDESC,...,SALA DE RECURSO,ANOS INICIAIS,ANOS FINAIS,ENSINO MEDIO,EJA FUNDAMENTAL_AI,EJA ENSINO MÉDIO,EJA FUNDAMENTAL_AF,EJA FUNDAMENTAL_MULTI,RAZAO_CLASSE_ESP_ENSINO,RAZAO_CLASSE_ESP_ENSINO_Q
0,10101,NORTE 1,100,SAO PAULO,1,103,8,NaN,JOAO BOEMER JARDIM PROFESSOR,CRISTOVAO SANTIAGO,...,0,1028,0,0,0.0,0.0,0.0,0.0,NaN,NaN
1,10101,NORTE 1,100,SAO PAULO,1,139,8,NaN,MARIANO DE OLIVEIRA PROFESSOR,RUA ALMIRANTE ISAIAS DE NORONHA,...,0,0,269,1093,0.0,332.0,0.0,0.0,NaN,NaN
2,10101,NORTE 1,100,SAO PAULO,1,197,8,NaN,AGENOR COUTO DE MAGALHAES DOUTOR,GUILHERME MANKEL,...,0,0,212,469,0.0,174.0,0.0,0.0,NaN,NaN
3,10101,NORTE 1,100,SAO PAULO,1,206,8,NaN,ALIPIO DE BARROS PROFESSOR,AVENIDA COMENDADOR FEIZ ZARZUR,...,0,533,0,0,0.0,0.0,0.0,0.0,0.0394,"(0.0357, 0.0516]"
4,10101,NORTE 1,100,SAO PAULO,1,218,8,NaN,ANTONIO FRANCISCO REDONDO PROFESSOR,EVANDRO DANTON FERREIRA GANDRA,...,0,0,0,860,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# discretization cut
max_value =  data['RAZAO_CLASSE_ESP_ENSINO'].max()
bins = [0, 0.025, 0.05, 0.075, 0.1, max_value]
data['RAZAO_CLASSE_ESP_ENSINO_I'] = pd.cut(data['RAZAO_CLASSE_ESP_ENSINO'], bins=bins, right=False)

In [10]:
# counting data last intervals to variables discretizables

q_count = data['RAZAO_CLASSE_ESP_ENSINO_Q'].value_counts().iloc[-1]
i_count = data['RAZAO_CLASSE_ESP_ENSINO_I'].value_counts().iloc[-1]

q_count, i_count

(496, 98)

In [26]:
# importing the correct packages

from scipy.stats import zscore
from sklearn.preprocessing import MinMaxScaler